/* greeting */

.greeting-container {
    background-color: #f0f0f0;
    margin: 10px;
    height: 400px;
    display: flex;
    justify-content:  center;
    align-items: center;
}
.time {
    padding: 10px;
    font-size : 18px;
}
.msg {
    padding: 10px;
    font-size: 18px;
}